[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pandas = "*"
numpy = "*"
validate-email = "*"
py3dns = "*"
phonenumbers = "*"
xlsxwriter = "*"
email-validator = "*"
validators = "*"
requests = "*"
unidecode = "*"
faker = "*"
email-normalize = "*"
dnspython = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
